*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}   body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(45deg,black,gray);
}
.calculator
{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 15px;
    font-family: Arial;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
}
input
{
width: 300px;
border: none;
padding: 25px;
margin: 10px;
background: transparent;
box-shadow: 0px 3px 15px rgba(84,84,84,0.1);
font-size: 40px;
text-align: right;
cursor: pointer;
color: white;
}
input::placeholder
{
    color: #ffff;
}
button
{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;
}
.equalbtn
{
    background-color: orange;
}
.operator
{
    background-color: red;
}